/* /styles/font.css */

@font-face {
  font-family: 'Morabba';
  src: url('/fonts/Morabba/ttf/Morabba-ExtraBold.ttf');
  font-weight: bolder;
  font-style: normal;
}
#testFont {
  font-family: 'Morabba' !important;
  /* font-size: 30px; */
}
/* For small screens and up */
@media (min-width: 640px) {
  #testFont {
    font-size: 18px !important;
  }
}

/* For medium screens and up */
@media (min-width: 768px) {
  #testFont {
    font-size: 18px !important;
  }
}

/* For large screens and up */
@media (min-width: 1024px) {
  #testFont {
    font-size: 30px !important;
  }
}
/* @font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-Italic.ttf');
  font-weight: normal;
  font-style: italic;
} */
