@import 'tailwindcss';
/* globals.css */
@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/Anjoman/Anjoman-SemiBold/fonts/Anjoman-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}
.AnjomanFont {
  font-family: 'Anjoman';
}
